<nz-layout>
  <!-- <nz-header>

    <div class="logo" >
      <i class="fa-solid fa-hospital"></i>
    </div>
    <div class="heading">Hospital</div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li nz-menu-item>Home</li>
          <li nz-menu-item>About</li>
          <li nz-menu-item>Contact</li>
          <li nz-menu-item>Services</li>
          <li nz-menu-item>Help</li>
        </ul>
        <i class="fa-solid fa-right-to-bracket"></i>
  </nz-header> -->
  <nz-content>

    <!-- <app-home></app-home>
<app-about></app-about> -->
<app-contact></app-contact>
<!-- <app-service></app-service> -->


  </nz-content>
  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>