<nz-layout>
  <nz-layout>
    <nz-header>
      <div class="d-header">
        <h1>Profile</h1>
        <nz-avatar
          nzIcon="user"
          nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        ></nz-avatar>
      </div>
      <div class="sider-bar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </nz-header>
    <nz-content>Content</nz-content>
  </nz-layout>
</nz-layout>
